DB_HOST={DB_HOST}
DB_USER={DB_USER}
DB_PASSWORD={DB_PASSWORD}
DB_NAME={DB_NAME}
DB_PORT={DB_PORT}
REDIS_ADDR={REDIS_ADDR}
ETHERSCAN_API_KEY={ETHERSCAN_API_KEY}
ETHERSCAN_BASE_URL=https://api.etherscan.io/v2/api
JWT_SECRET={JWT_SECRET}
TOKEN_TTL={TOKEN_TTL}
